@import "../../variables.scss";

.footer {
  width: 100%;
  display: flex;
  
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: $grey-100;
  min-height: 10rem;
  &__container {
    width: 100%;
    display: flex;
    padding-left: 3.7rem;
    padding-right: 3.0rem;
    max-width: 116rem;
    justify-content: space-between;
  }

  &__texts {
    display: flex;
    flex-direction: column;
    &__row {
      display: inherit;
      justify-content: start;
      .text-header {
        font-weight: bold;

        &--terms {
          cursor: pointer;
          font-weight: bold;
          line-height: 1.8;
          letter-spacing: -0.03rem;
          color: $grey-100;
        }
      }
      .text-body {
        margin: 0 0.6rem;
      }
    }
  }

  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    &__item {
      position: relative;
      margin-left: .35rem;
      margin-right: .35rem;
      
      transition: .4s;
      border-radius: 100%;
      background-color: $grey-100;
      width: 2.7rem;
      height: 2.7rem;
      justify-content: center;
      opacity: 0.83;

      .icon {
        position: absolute;
        top: 10%;
        left: 8%;
        width: 2.3rem;
      }
    }
    &__item:hover {
      background-color: $primary-200;
    }
  }
}

// .footer__container {
//   width: 80%;
//   justify-content: space-between;
// }

// .footer__text__contents {
//   width: 3.8rem;
// }

// .footer__icons__contents {
//   width: 3.8rem;
// }

// .footer-icon {
//   width: 10px;
// }
